<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/css/bootstrap.css">
    <link rel="stylesheet" href="~/css/customs.css">
    <link rel="stylesheet" href="~/fonts/stylesheet.css" type="text/css" charset="utf-8" />
    <link rel="stylesheet" href="~/css/animate.min.css" />
    <link rel="stylesheet" href="~/css/splide.min.css">
    <link rel="stylesheet" href="~/css/sidebar.css">
    <link rel="stylesheet" type="text/css" href="~/slick/slick.css" />
    <script src="https://kit.fontawesome.com/48956afbda.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
        integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
            <div class="container navbar-main">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <a class="btn-open" href="#">
                    </a>
                </button>
                <a class="navbar-brand" asp-controller="Home" asp-action="Index"><img src="~/images/sbito_all_logo.jpg"
                        height="" alt=""></a>
                <button class="btn btn-login mt-lg-3 d-lg-none" type="submit" data-toggle="modal"
                    data-target="#staticBackdrop">Login <i class="far fa-user"></i></button>
                <div class="modal fade" id="staticBackdrop" data-backdrop="static" data-keyboard="false" tabindex="-1"
                    aria-labelledby="staticBackdropLabel" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered" id="staticBackdropshow">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <div>
                                    <form>
                                        <div class="">
                                            <h3 for="">Login</h3>
                                            <div class="form-group mt-md-3">
                                                <input type="email" class="form-control" id="exampleInputEmail"
                                                    aria-describedby="emailHelp" placeholder="USERNAME">
                                            </div>
                                            <div class="form-group">
                                                <input type="password" class="form-control" id="exampleInputPassword"
                                                    placeholder="PASSWORD">
                                                <a class="pull-right mt-2" style="color:#fff !important;"
                                                    href="http://">Forget Password</a>
                                            </div>

                                        </div>
                                    </form>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-submit">Login <i
                                        class="fas fa-chevron-right pull-right"></i></button>
                            </div>
                        </div>
                    </div>
                </div>
                <ul class="pull-right dropdown flag-dropdown d-lg-none">
                    <li class="nav-item ">
                        <a class="nav-link dropdown-flag " href="#" id="navbarDropdown" role="button"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                             @if(ViewBag.data == "th"){
                            <img src="~/images/th.png" width="30" height="30" />
                            <p class="d-none">
                                TH
                            </p>
                            <i class="fas fa-caret-down" style="color: #ababab; font-size: 14px;"></i>
                            }
                            else if (ViewBag.data == "en")
                            {
                                  <img src="~/images/en.png" width="30" height="30" />
                            <p class="d-none">
                                EN
                            </p>
                            <i class="fas fa-caret-down" style="color: #ababab; font-size: 14px;"></i>
                            }
                            else if (ViewBag.data == "jp")
                            {
                                   <img src="~/images/jp.png" width="30" height="30" />
                            <p class="d-none">
                                EN
                            </p>
                            <i class="fas fa-caret-down" style="color: #ababab; font-size: 14px;"></i>
                             }

                        </a>
                        <div class="dropdown-menuflag dropdown-menu" aria-labelledby="navbarDropdown">
                            
                              <form method="post" asp-controller="Home" asp-action="lang">
                                    <input type="hidden" name="txtcookie" value="th">
                                    <input type="hidden" name="url" value="@Context.Request.Path">
                            <a class="dropdown-item"> <input src="~/images/th.png" width="30" height="30" type="image"  />
                                <p>
                                    TH
                                </p>
                            </a>
                              </form>
                               <form method="post" asp-controller="Home" asp-action="lang">
                                    <input type="hidden" name="txtcookie" value="en">
                                    <input type="hidden" name="url" value="@Context.Request.Path">
                            <a class="dropdown-item" href="#"> <input type="image" src="~/images/en.png" width="30" height="30" />
                                <p>
                                    EN
                                </p>
                            </a>
                               </form>
                                <form method="post" asp-controller="Home" asp-action="lang">
                                    <input type="hidden" name="txtcookie" value="jp">
                                    <input type="hidden" name="url" value="@Context.Request.Path">
                            <a class="dropdown-item" href="#"> <input type="image" src="~/images/jp.png" width="30" height="30" />
                                <p>
                                    JP
                                </p>
                            </a>
                                </form>
                    </li>
                </ul>
                <div class="collapse navbar-collapse d-none d-md-none" id="navbarNav">

                    <ul class="navbar-nav mr-auto">
                        @if (ViewBag.data == "th")
                        {
                            <li class="nav-item">
                                <a class="nav-link" asp-controller="ProductService" asp-action="Index">สินค้าและบริการ</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" asp-controller="News" asp-action="Index">ข่าวสารและโปรโมชั่น</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" asp-controller="Research" asp-action="Index">บทวิเคราะห์</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" asp-controller="AboutUs" asp-action="Index">เกี่ยวกับเรา</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" asp-controller="KnowledgeBaseGroup" asp-action="Index">ช่วยเหลือ</a>
                            </li>
                            <li class="nav-item">
                                    <a class="nav-link" asp-controller="Policy" asp-action="Index">นโยบายส่วนบุคคล</a>
                            </li>
                        }
                        else if (ViewBag.data == "en")
                        {
                            <li class="nav-item">
                                <a class="nav-link" asp-controller="ProductService" asp-action="Index">Our Service</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" asp-controller="News" asp-action="Index">News & Promotion</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" asp-controller="Research" asp-action="Index">Research</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" asp-controller="AboutUs" asp-action="Index">About Us</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" asp-controller="KnowledgeBaseGroup" asp-action="Index">Help</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" asp-controller="Policy" asp-action="Index">Policy</a>
                            </li>
                        }
                        else if (ViewBag.data == "jp")
                        {
                            <li class="nav-item">
                                <a class="nav-link" asp-controller="ProductService" asp-action="Index">サービス概要</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" asp-controller="News" asp-action="Index">開示情報・プロモーション</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" asp-controller="Research" asp-action="Index">投資情報</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" asp-controller="AboutUs" asp-action="Index">私たちに関しては</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" asp-controller="KnowledgeBaseGroup" asp-action="Index">よくある質問</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" asp-controller="Policy" asp-action="Index">プライバシーポリシー</a>
                            </li>
                        }
                    </ul>

                </div>
                <button class="btn btn-login mt-lg-3 d-none d-lg-block" type="submit" data-toggle="modal"
                    data-target="#loginModal">Login <i class="far fa-user"></i></button>
                <div class="modal fade" id="loginModal" tabindex="-1" aria-labelledby="loginModalLabel"
                    aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered" id="loginModalShow">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <div>
                                    <form>
                                        <div class="">
                                            <h3 for="">Login</h3>

                                            <div class="form-group mt-md-3">
                                                <input type="email" class="form-control" id="exampleInputEmail1"
                                                    aria-describedby="emailHelp" placeholder="USERNAME">
                                            </div>
                                            <div class="form-group">
                                                <input type="password" class="form-control" id="exampleInputPassword1"
                                                    placeholder="PASSWORD">
                                                <a class="pull-right mt-2" style="color:#fff !important;"
                                                    href="http://">Forget Password</a>
                                            </div>
                                        </div>
                                    </form>

                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-submit">Login <i
                                        class="fas fa-chevron-right pull-right"></i></button>
                            </div>
                        </div>
                    </div>
                </div>

                <ul class="pull-right dropdown flag-dropdown d-none d-lg-block list-unstyled">
                    <li class="nav-item ">
                        <a class="nav-link dropdown-flag " id="navbarDropdown" role="button" data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false">
                            @if(ViewBag.data == "th"){
                            <img src="~/images/thailand-flag-waving-medium.jpg" width="30" height="20" />
                            <p class="d-none d-lg-inline">
                                TH
                            </p>
                            }else if(ViewBag.data == "en"){
<img src="~/images/united-kingdom-flag-waving-medium.jpg" width="30" height="20" />
                            <p class="d-none d-lg-inline">
                                EN
                            </p>
                            }else if(ViewBag.data == "jp"){

<img src="~/images/japan-flag-waving-icon-256.png" width="30" height="20" />
<p class="d-none d-lg-inline">
    JP
</p>
                            }
                            <i class="fas fa-caret-down" style="color: #ababab; font-size: 14px;"></i>
                        </a>
                      
                        <div class="dropdown-menuflag dropdown-menu" aria-labelledby="navbarDropdown">

                            <a class="dropdown-item">
                                <form method="post" asp-controller="Home" asp-action="lang">
                                    <input type="hidden" name="txtcookie" value="th">
                                    <input type="hidden" name="url" value="@Context.Request.Path">
                                    <input type="image" src="~/images/thailand-flag-waving-medium.jpg" width="30"
                                        height="20" type="submit" />
                                    <p class="d-none d-lg-inline">




                                        TH
                                    </p>
                                </form>
                            </a>
                            <a class="dropdown-item">
                                <form method="post" asp-controller="Home" asp-action="lang">
                                    <input type="hidden" name="txtcookie" value="en">
                                    <input type="hidden" name="url" value="@Context.Request.Path">
                                    <input type="image" src="~/images/united-kingdom-flag-waving-medium.jpg" width="30"
                                        height="20" type="submit" />
                                    <p class="d-none d-lg-inline">




                                        EN
                                    </p>
                                </form>
                            </a>
                            <a class="dropdown-item">
                                <form method="post" asp-controller="Home" asp-action="lang">
                                    <input type="hidden" name="txtcookie" value="jp">
                                    <input type="hidden" name="url" value="@Context.Request.Path">
                                    <input type="image" src="~/images/japan-flag-waving-icon-256.png" width="30"
                                        height="20" />
                                    <p class="d-none d-lg-inline">
                                        JP
                                    </p>
                                </form>
                            </a>

                    </li>
                </ul>
            </div>

        </nav> <!-- navbar -->



        <div class="overlay">
            <div class="collapse navbar-collapse d-md-none d-block" id="navbarNav">

                <ul class="navbar-nav mr-auto" id="menu-mb">

                    <!--<li class="nav-item active">
                    <a class="nav-link invisible" href="openaccount_landing.php">เปิดบัญชีออนไลน์ <span class="sr-only">(current)</span></a>
                </li>-->

                    <li class="nav-item dropdown">
                         @if(ViewBag.data=="th"){
                        <a class="nav-link " asp-controller="ProductService" asp-action="Index"
                            id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true"
                            aria-expanded="false">
                            <i class="fas fa-caret-right"></i> สินค้าและบริการ
                        </a>
                        }
                        else if (ViewBag.data == "en")
                        {
    <a class="nav-link " asp-controller="ProductService" asp-action="Index" id="navbarDropdownMenuLink"
    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <i class="fas fa-caret-right"></i> Our Service
    </a>
                        }
                        else if (ViewBag.data == "jp")
                        {
                                <a class="nav-link " asp-controller="ProductService" asp-action="Index" id="navbarDropdownMenuLink"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <i class="fas fa-caret-right"></i> 当社のサービス
                                </a>
                         }
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <li class="dropdown-submenu" style=" box-shadow: none;">
                                <!--<a class="dropdown-item dropdown-toggle" href="#"> <i class="fas fa-caret-right"></i> &nbsp;
                                หุ้น</a>-->
                                <ul class="dropdown-menu subdropdown-menu">

                                    <li class="dropdown-submenu">
                                        <a class="dropdown-item" asp-controller="ProductService" asp-action="Index">Cash
                                            Balance</a>
                                        <!-- <ul class="dropdown-menu subdropdown-menu">
                                        <li><a class="dropdown-item" href="#">Commission เทียบกับตลาด</a></li>
                                        <li><a class="dropdown-item" href="#">เครื่องคิดเลขคำนวณค่าคอมฯ</a></li>
                                    </ul> -->
                                    </li>
                                    <li class="dropdown-submenu">
                                        <a class="dropdown-item" asp-controller="ProductService" asp-action="Index">Cash
                                            Account</a>
                                        <!-- <ul class="dropdown-menu subdropdown-menu">
                                        <li><a class="dropdown-item" href="#">Subsubmenu action</a></li>
                                        <li><a class="dropdown-item" href="#">Another subsubmenu action</a></li>
                                    </ul> -->
                                    </li>
                                    <li class="dropdown-submenu">
                                        <a class="dropdown-item" asp-controller="ProductService"
                                            asp-action="Index">Credit Balance</a>
                                        <!-- <ul class="dropdown-menu">
                                        <li><a class="dropdown-item" href="#">Subsubmenu action</a></li>
                                        <li><a class="dropdown-item" href="#">Another subsubmenu action</a></li>
                                    </ul> -->
                                    </li>



                                </ul>
                            </li>

                            <li class="dropdown-submenu">
                                 @if(ViewBag.data == "th"){
                                    <a class="dropdown-item " href="/ProductService/Details/1012">
                                    &nbsp;
                                    อนุพันธ์</a>
                                }
                                else if (ViewBag.data == "en")
                                {
                                            <a class="dropdown-item " href="/ProductService/Details/1012">
                                            &nbsp;
                                                Derivatives</a>

                                }
                                else if (ViewBag.data == "jp")
                                {
        <a class="dropdown-item " href="/ProductService/Details/1012">
        &nbsp;
                デリバティブ</a>
                                 }

                            </li>
                            <li class="dropdown-submenu">
                                  @if(ViewBag.data == "th"){
                                    <a class="dropdown-item " href="/ProductService/Derivatives/2">
                                    &nbsp;
                                    กองทุน</a>
                                }
                                else if (ViewBag.data == "en")
                                {
        <a class="dropdown-item " href="/ProductService/Derivatives/2">
        &nbsp;
        Fund</a>
                                }
                                else if (ViewBag.data == "่jp")
                                {
        <a class="dropdown-item " href="/ProductService/Derivatives/2">
        &nbsp;
            基金</a>
                                  }
                                  

                            </li>
                            <li class="dropdown-submenu">
                                  @if(ViewBag.data == "th"){
                                    <a class="dropdown-item " href="/ProductService/Trade/2">
                                    &nbsp;
                                    เทรดต่างประเทศ</a>
                                }
                                else if (ViewBag.data == "en")
                                {
                                            <a class="dropdown-item " href="/ProductService/Trade/2">
                                            &nbsp;
                                                ForeignTrade</a>
                                }
                                else if (ViewBag.data == "jp")
                                {
        <a class="dropdown-item " href="ProductService/Trade/2">
        &nbsp;
                外国貿易</a>
                                  }

                            </li>
                            <li class="dropdown-submenu" style=" box-shadow: none;">
                                  @if(ViewBag.data == "th"){
                                    <a class="dropdown-item " href="/ProductService/Invest/2">
                                    &nbsp;
                                    เครื่องมือการลงทุน</a>
                                }
                                else if (ViewBag.data == "en")
                                {
        <a class="dropdown-item " href="/ProductService/Invest/2">
        &nbsp;
        Invest Tools</a>
                                }
                                else if (ViewBag.data == "jp")
                                {
                                          <a class="dropdown-item " href="/ProductService/Invest/2">
                                    &nbsp;
                                    反転ツール</a>
                                  }

                            </li>


                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                          @if(ViewBag.data == "th"){
                        <a class="nav-link" asp-controller="News" asp-action="Index" id="navbarDropdownMenuLink"
                            role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fas fa-caret-right"></i> ข่าวสารและโปรโมชั่น
                        </a>
                        }
                        else if (ViewBag.data == "th")
                        {
    <a class="nav-link" asp-controller="News" asp-action="Index" id="navbarDropdownMenuLink" role="button"
    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <i class="fas fa-caret-right"></i> ข่าวสารและโปรโมชั่น
    </a>
                        }
                        else if (ViewBag.data == "en")
                        {
                                <a class="nav-link" asp-controller="News" asp-action="Index" id="navbarDropdownMenuLink" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <i class="fas fa-caret-right"></i> News & Promotion
                                </a>
                        }
                        else if (ViewBag.data == "jp")
                        {
                                <a class="nav-link" asp-controller="News" asp-action="Index" id="navbarDropdownMenuLink" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <i class="fas fa-caret-right"></i> ニュースとプロモーション
                                </a>
                          }
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                             @if(ViewBag.data == "th"){
                            <a class="dropdown-item" asp-controller="News" asp-action="Index"> <i
                                    class="fas fa-caret-right"></i> โปรโมชั่น</a>
                            }
                            else if (ViewBag.data == "en")
                            {
    <a class="dropdown-item" asp-controller="News" asp-action="Index"> <i class="fas fa-caret-right"></i> Promotion</a>
                            }
                            else if (ViewBag.data == "jp")
                            {
                                        <a class="dropdown-item" asp-controller="News" asp-action="Index"> <i class="fas fa-caret-right"></i> プロモーション</a>
                             }

                            
                              @if(ViewBag.data == "th" || ViewBag.data == "en"){
                            <a class="dropdown-item" asp-controller="News" asp-action="Index"> <i
                                    class="fas fa-caret-right"></i>News from SBITO</a>
                              }else if(ViewBag.data == "th"){
  <a class="dropdown-item" asp-controller="News" asp-action="Index"> <i
                                    class="fas fa-caret-right"></i>からのニュース</a>
                              }

                                @if(ViewBag.data == "th" || ViewBag.data == "en"){
                            <a class="dropdown-item" asp-controller="News" asp-action="Index"> <i
                                    class="fas fa-caret-right"></i> Stock exchange and organization</a>
                                }else if(ViewBag.data == "jp"){
                                       <a class="dropdown-item" asp-controller="News" asp-action="Index"> <i
                                    class="fas fa-caret-right"></i> 証券取引所と組織</a>
                                }

                                  @if(ViewBag.data == "th" || ViewBag.data == "en"){
                            <a class="dropdown-item" asp-controller="News" asp-action="Index"> <i
                                    class="fas fa-caret-right"></i> PR News</a>
                                  }else if(ViewBag.data == "jp"){
                                       <a class="dropdown-item" asp-controller="News" asp-action="Index"> <i
                                    class="fas fa-caret-right"></i> PRニュース</a>
                                      
                                  }
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        @if(ViewBag.data == "th"){
                        <a class="nav-link" asp-controller="Research" asp-action="Index" id="navbarDropdownMenuLink"
                            role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fas fa-caret-right"></i> บทวิเคราะห์
                        </a>
                        }
                        else if (ViewBag.data == "en")
                        {
    <a class="nav-link" asp-controller="Research" asp-action="Index" id="navbarDropdownMenuLink" role="button"
    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <i class="fas fa-caret-right"></i> Research
    </a>
                        }
                        else if (ViewBag.data == "jp")
                        {
                                <a class="nav-link" asp-controller="Research" asp-action="Index" id="navbarDropdownMenuLink" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <i class="fas fa-caret-right"></i> リサーチ
                                </a>
                        }



                   
                  





<div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                      
                              @if(ViewBag.data == "th" || ViewBag.data=="en"){
                            <a class="dropdown-item" asp-controller="Research" asp-action="Index"> <i
                                    class="fas fa-caret-right"></i> Daily Report</a>
                         }else if(ViewBag.data=="jp"){
                            <a class="dropdown-item" asp-controller="Research" asp-action="Index"> <i
                                    class="fas fa-caret-right"></i> 日報</a>
                         }

                                @if(ViewBag.data == "th" || ViewBag.data == "en")
                                {
                                        <a class="dropdown-item" asp-controller="Research" asp-action="Index"> <i class="fas fa-caret-right"></i> Weekly</a>
                                }else if(ViewBag.data=="jp"){
    <a class="dropdown-item" asp-controller="Research" asp-action="Index"> <i class="fas fa-caret-right"></i> 毎週</a>
                                    }

                                    @if(ViewBag.data == "th" || ViewBag.data == "en"){

                                    
                            <a class="dropdown-item" asp-controller="Research" asp-action="Index"> <i
                                    class="fas fa-caret-right"></i> Monthly</a>
                                    }else if(ViewBag.data == "jp"){
                                         <a class="dropdown-item" asp-controller="Research" asp-action="Index"> <i
                                    class="fas fa-caret-right"></i> 毎月</a>
                                    }
@if(ViewBag.data == "th" || ViewBag.data == "en"){

                            <a class="dropdown-item" asp-controller="Research" asp-action="Index"> <i
                                    class="fas fa-caret-right"></i> Quarterly</a>
}else if(ViewBag.data == "jp"){
      <a class="dropdown-item" asp-controller="Research" asp-action="Index"> <i
                                    class="fas fa-caret-right"></i> 四半期ごと</a>
}
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        @if(ViewBag.data == "th"){
                        <a class="nav-link" asp-controller="AboutUs" asp-action="Index" id="navbarDropdownMenuLink"
                            role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fas fa-caret-right"></i> เกี่ยวกับเรา
                        </a>
                        }
                        else if (ViewBag.data == "en")
                        {
    <a class="nav-link" asp-controller="AboutUs" asp-action="Index" id="navbarDropdownMenuLink" role="button"
    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <i class="fas fa-caret-right"></i> About Us
    </a>
                        }
                        else if (ViewBag.data == "jp")
                        {
    <a class="nav-link" asp-controller="AboutUs" asp-action="Index" id="navbarDropdownMenuLink" role="button"
    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fas fa-caret-right"></i> 私たちに関しては
    </a>
                        }
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                             @if(ViewBag.data == "th"){
                            <a class="dropdown-item" asp-controller="AboutUs" asp-action="Index"> <i
                                    class="fas fa-caret-right"></i> เกี่ยวกับ SBI Group</a>
                            }
                            else if (ViewBag.data == "en")
                            {
                                  <a class="dropdown-item" asp-controller="AboutUs" asp-action="Index"> <i
                                    class="fas fa-caret-right"></i> About SBI Group</a>
                            }
                            else if (ViewBag.data == "jp")
                            {
                                        <a class="dropdown-item" asp-controller="AboutUs" asp-action="Index"> <i class="fas fa-caret-right"></i> sbiグループについて</a>
                             }

                              @if(ViewBag.data == "th"){
                            <a class="dropdown-item" asp-controller="AboutUs" asp-action="Index"> <i
                                    class="fas fa-caret-right"></i> ประวัติความเป็นมาของ SBITO</a>
                              }else if(ViewBag.data == "en"){
                                    <a class="dropdown-item" asp-controller="AboutUs" asp-action="Index"> <i class="fas fa-caret-right"></i>
                                       History SBITO</a>
                            }
                            else if (ViewBag.data == "jp")
                            {
    <a class="dropdown-item" asp-controller="AboutUs" asp-action="Index"> <i class="fas fa-caret-right"></i>
        歴史</a>
                            }

                              

 @if(ViewBag.data == "th"){

                            <a class="dropdown-item" asp-controller="AboutUs" asp-action="Index"> <i
                                    class="fas fa-caret-right"></i> ร่วมงานกับ SBITO</a>

                            }
                            else if (ViewBag.data == "en")
                            {
                                    <a class="dropdown-item" asp-controller="AboutUs" asp-action="Index"> <i class="fas fa-caret-right"></i> CAREER</a>

                            }
                            else if (ViewBag.data == "jp")
                            {
        <a class="dropdown-item" asp-controller="AboutUs" asp-action="Index"> <i class="fas fa-caret-right"></i> キャリア</a>
                            }

                             @if(ViewBag.data == "th"){
                            <a class="dropdown-item" asp-controller="AboutUs" asp-action="Index"> <i
                                    class="fas fa-caret-right"></i> ติดต่อเรา</a>
                            }
                            else if (ViewBag.data == "th")
                            {
                                    <a class="dropdown-item" asp-controller="AboutUs" asp-action="Index"> <i class="fas fa-caret-right"></i> Contact Us</a>
                            }
                            else if (ViewBag.data == "jp")
                            {
        <a class="dropdown-item" asp-controller="AboutUs" asp-action="Index"> <i class="fas fa-caret-right"></i> お問い合わせ</a>
                             }

                               @if(ViewBag.data == "th"){
                            <a class="dropdown-item" asp-controller="AboutUs" asp-action="Index"> <i
                                    class="fas fa-caret-right"></i> ผู้บริหาร</a>
                            }
                            else if (ViewBag.data == "en")
                            {
  <a class="dropdown-item" asp-controller="AboutUs" asp-action="Index"> <i
                                    class="fas fa-caret-right"></i> Board</a>
                            }
                            else if (ViewBag.data == "jp")
                            {
        <a class="dropdown-item" asp-controller="AboutUs" asp-action="Index"> <i class="fas fa-caret-right"></i> ボード</a>
                               }
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                           @if(ViewBag.data == "th"){
                        <a class="nav-link" asp-controller="KnowledgeBaseGroup" asp-action="Index"
                            id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true"
                            aria-expanded="false">
                            <i class="fas fa-caret-right"></i> ช่วยเหลือ
                        </a>
                        }
                        else if (ViewBag.data == "en")
                        {
                                <a class="nav-link" asp-controller="KnowledgeBaseGroup" asp-action="Index" id="navbarDropdownMenuLink" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <i class="fas fa-caret-right"></i> Help
                                </a>

                           }else if(ViewBag.data == "jp"){
                                    <a class="nav-link" asp-controller="KnowledgeBaseGroup" asp-action="Index" id="navbarDropdownMenuLink" role="button"
                                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            <i class="fas fa-caret-right"></i> ヘルプ
                                    </a>
                           }
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                              @if(ViewBag.data == "th"){
                            <a class="dropdown-item" asp-controller="KnowledgeBaseGroup" asp-action="Index"> <i
                                    class="fas fa-caret-right"></i>บัญชีมีกี่ประเภท</a>
                            }
                            else if (ViewBag.data == "en")
                            {
                                   <a class="dropdown-item" asp-controller="KnowledgeBaseGroup" asp-action="Index"> <i
                                    class="fas fa-caret-right"></i>How many types of accounts are there?</a>
                            }
                            else if (ViewBag.data == "jp")
                            {
                                            <a class="dropdown-item" asp-controller="KnowledgeBaseGroup" asp-action="Index"> <i class="fas fa-caret-right"></i>
                                            アカウントの種類はいくつありますか？</a>
                              }

                               @if(ViewBag.data == "th"){
                            <a class="dropdown-item" asp-controller="KnowledgeBaseGroup" asp-action="Index"> <i
                                    class="fas fa-caret-right"></i> การคำนวณค่าคอมมิชชั่น</a>
                            }
                            else if (ViewBag.data == "en")
                            {
    <a class="dropdown-item" asp-controller="KnowledgeBaseGroup" asp-action="Index"> <i class="fas fa-caret-right"></i>
            Commission calculation</a>
                            }
                            else if (ViewBag.data == "jp")
                            {
                                        <a class="dropdown-item" asp-controller="KnowledgeBaseGroup" asp-action="Index"> <i class="fas fa-caret-right"></i>
                                               手数料の計算</a>
                               }

                                @if(ViewBag.data == "th"){
                            <a class="dropdown-item" asp-controller="KnowledgeBaseGroup" asp-action="Index"> <i
                                    class="fas fa-caret-right"></i> Payment Gateway และ ATS คืออะไร</a>
                            }
                            else if (ViewBag.data == "en"){
   <a class="dropdown-item" asp-controller="KnowledgeBaseGroup" asp-action="Index"> <i
                                    class="fas fa-caret-right"></i> What is payment gateway and Ats?</a>
                                }else if(ViewBag.data == "en"){
                                       <a class="dropdown-item" asp-controller="KnowledgeBaseGroup" asp-action="Index"> <i
                                    class="fas fa-caret-right"></i> What is payment gateway and Ats?</a>
                                }
                        </div>
                    </li>




                </ul>

            </div>
        </div>
        <script>
            $('.btn-open').on('click', function () {
                $("#menu-mb").css("display", "block");
            });
            $('.btn-close').on('click', function () {
                $("#menu-mb").css("display", "none");
            });
            $(document).ready(function () {
                $(".navbar-toggler a").click(function () {
                    $(".overlay").fadeToggle(200);
                    $(this).toggleClass('btn-open').toggleClass('btn-close');
                });

            });
            $('.btn-close').on('click', function () {
                $(".overlay").fadeToggle(200);
                $(".navbar-toggler a").toggleClass('btn-open').toggleClass('btn-close');

                open = false;
            });
        </script>


    </header>
    <div class="container-fluid" style="padding-left: 0px !important;padding-right:0px !important;">
        <main role="main" class="pb-3">
            <section class="shortcutkey mt-lg-5">
                <div class="container-md">
                    <div class="sidebar-tab sidebar-tab1 nohover" id="fixed_cart_icon">
                        <div>
                            <a class="nav-link" asp-controller="Home" asp-action="RequestOnline">
                                <img class="icon_side1" src="~/images/sck_04.png" width="60" alt="">
                                <img class="icon_side2" src="~/images/sck_03.png" width="70" alt="">
                            </a>
                        </div>
                    </div>
                    <div class="sidebar-tab2 sidebar-tab" id="fixed_cart_icon">
                        <div>
                            <a class="nav-link" asp-controller="Home" asp-action="OpenAccount">
                                <img class="icon_side1" src="~/images/sck_08_03.png" width="80" alt="">
                                <img class="icon_side2" src="~/images/sck_09_03.png" width="60" alt="">
                            </a>
                        </div>
                    </div>
                    <div class="sidebar-tab3 sidebar-tab" id="fixed_cart_icon">
                        <div data-toggle="modal" data-target="#modaltool3">
                            <div>
                                <img class="icon_side1" src="~/images/sck_06_03.png" width="60" alt="">
                                <img class="icon_side2" src="~/images/sck_05_03.png" width="70" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            @RenderBody()
        </main>
    </div>
    <footer>
        <div class="container-md">
            <div class="row">
                <div class="col-lg-3 foot-left">
                    <img src="~/images/SBITO-all-logo_ขาว.png" alt="">

                    @if (ViewBag.name == "th")
                    {
                        <p class="mt-2">
                            บริษัทหลักทรัพย์ เอสบีไอ ไทย ออนไลน์ จำกัด (SBI THAI ONLINE Securities Co., Ltd.)
                            1768 อาคารไทยซัมมิท ทาวเวอร์ ชั้น 31 ถนนเพชรบุรีตัดใหม่ แขวงบางกะปิ เขตห้วยขวาง กรุงเทพฯ 10310
                        </p>
                    }
                    else
                    {
                        <p class="mt-2">
                            SBI Thai Online Securities Co., Ltd. <br>
                            1768 Thai Summit Tower 31st Fl.,
                            New Petchburi Rd.,Bangkapi,Huaykwang,
                            Bkk 10310 Thailand
                        </p>
                    }

                </div>
                <div class="col-lg-3 foot-center">
                    <p class="p-center">ติดต่อสอบถาม</p>
                    <p class="p-center1">ลูกค้าสัมพันธ์
                    </p>
                    <h2 class="p-center2">02 022 1499</h2>
                    <p class="p-center3">
                        support@sbito.co.th
                    </p>
                </div>
                <div class="col-lg-3 foot-center2">
                    <p class="">SOCIAL NETWORK</p>
                    <div class="social_icon">
                        <div class="container">
                            <div class="row">
                                <div class="col-sm">
                                    <a href="https://www.facebook.com/Sbithaionline">
                                        <img src="~/images/Footer icon-01.png" width="35" alt="">
                                    </a>
                                    <a href="https://page.line.me/dub8571m?openQrModal=true">
                                        <img src="~/images/Footer icon-02.png" width="35" alt="">
                                    </a>
                                    <a href="https://www.instagram.com/sbithaionline/">
                                        <img src="~/images/Footer icon-03.png" width="35" alt="">
                                    </a>
                                    <a href="https://www.youtube.com/channel/UCLS7JnNtLmcGJmK1JVBWRzA">
                                        <img src="~/images/Footer icon-04.png" width="35" alt="">
                                    </a>
                                    <a href="https://twitter.com/sbithaionline">
                                        <img src="~/images/Footer icon-05.png" width="35" alt="">
                                    </a>
                                </div>
                                <div class="w-100"></div>
                                <div class="col-sm">
                                    <img class="mt-lg-2 dbd_mb" src="~/images/DBD.png" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 foot-right">
                    <p class="d-none d-md-block">ดาวน์โหลดแอปพลิเคชั่น</p>
                    <div class="row">
                        <div class="col col-md-4 pull-xs-right">
                            <img src="~/images/footer_icon_18.png" class="d-none d-md-block" width="80" alt="">
                            <img src="~/images/Appstore.png" width="80" alt="">
                        </div>
                        <div class="col pull-xs-left">
                            <img src="~/images/footer_icon_18.png" class="d-none d-md-block" width="80" alt="">
                            <img src="~/images/Googlrplay.png" width="80" alt="">
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </footer>
    </div>
    @RenderSection("Scripts", required: false)

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="~/js/calculatecommission.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
        integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous">
        </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.min.js"
        integrity="sha384-w1Q4orYjBQndcko6MimVbzY0tgp4pWB4lZ7lr30WKz0vr/aWKhXdBNmNb5D92v7s" crossorigin="anonymous">
        </script>
    <script src='https://codepen.io/z-/pen/a8e37caf2a04602ea5815e5acedab458.js'></script>
    <script src="~/js/slick.js"></script>
    <script src="~/js/splide.min.js"></script>
    <script src="~/js/bootstrap.js"></script>
    <script src="~/js/coin.js"></script>
    <script src="~/js/js.js"></script>
    <script src="~/js/sidebar.js"></script>
    <script>
        $.sidebarMenu($('.sidebar-menu'))
    </script>
    <script>
        $.sidebarMenumb($('.sidebar-menu'))
    </script>

    <script>
    $('.btn-open').on('click', function () {
        $("#menu-mb").css("display", "block");
    });
 
 
    $(document).ready(function () {
        $(".navbar-toggler a").click(function () {
            $(".overlay").fadeToggle(200);
            $(this).toggleClass('btn-open').toggleClass('btn-close');
        });

    });
    $('.btn-close').on('click', function () {
        $(".overlay").fadeToggle(200);
        $(".navbar-toggler a").toggleClass('btn-open').toggleClass('btn-close');

        open = false;
    });
</script>
<script>
    $('#tab1show').show();
    $('#tab2show').hide();
    $('#tab3show').hide();
    $('#tab4show').hide();
    $('#tab5show').hide();

    $('#clicks').on('click', 'div', function (event) {
        var tabId = $(this).attr('id');
        $('#tabShows div').hide();
        $('#' + tabId + 'show').show();
    });
</script>
<script>
        // $('.sidebar-tab2').hover(function () {
        //     $(this).addClass('nohover');
        // })
        // $('.sidebar-tab2').hover(function(){ $(this).addClass('hoverone');})
</script>
<script>
    $('#center').slick({
        centerMode: true,
        centerPadding: '60px',
        slidesToShow: 3,
        responsive: [{
            breakpoint: 768,
            settings: {
                arrows: false,
                centerMode: true,
                centerPadding: '40px',
                slidesToShow: 3
            }
        },
        {
            breakpoint: 480,
            settings: {
                arrows: false,
                centerMode: true,
                centerPadding: '40px',
                slidesToShow: 1
            }
        }
        ]
    });
</script>
<script>
    $('#center1').slick({
        centerMode: true,
        centerPadding: '60px',
        slidesToShow: 3,
        responsive: [{
            breakpoint: 768,
            settings: {
                arrows: false,
                centerMode: true,
                centerPadding: '40px',
                slidesToShow: 3
            }
        },
        {
            breakpoint: 480,
            settings: {
                arrows: false,
                centerMode: true,
                centerPadding: '40px',
                slidesToShow: 1
            }
        }
        ]
    });
</script>
<script>
    new Splide('#splide', {
        type: 'fade',
        rewind: true,
        autoplay: true,
    }).mount();
</script>
<script>
    new Splide('#splide_news', {
        type: 'loop',
        perPage: 3,
        autoplay: true,
        focus: 'center',

    }).mount();
    new Splide('#splide_newsmb', {
        type: 'loop',
        perPage: 3,
        // autoplay: true,
        focus: 'center',

    }).mount();
    new Splide('#splide_tools', {
        type: 'loop',
        perPage: 3,
        autoplay: true,
        focus: 'center',
        centerPadding: {
            top: '5rem',

        },
    }).mount();
</script>
<script>
    new Splide('#splide_set', {
        type: 'loop',
        perPage: 3,
        perMove: 1,
    }).mount();
</script>
<script>
    $('.splide__arrow--next').addClass('imgarrow');
    $('.splide__arrow svg').remove();


    $('.sidebar-tab1').on({
        'mouseenter': function () {
            $('.sidebar-tab2').addClass('nohover');
        },
        'mouseleave': function () {
            $('.sidebar-tab2').removeClass('nohover');
        }
    });
    $('.sidebar-tab3').on({
        'mouseenter': function () {
            $('.sidebar-tab2').addClass('nohover');
        },
        'mouseleave': function () {
            $('.sidebar-tab2').removeClass('nohover');
        }
    });
        // $('.sidebar-tab2').find('input').on({
        //     'mouseenter' : function(){
        //         $('.sidebar-tab2').removeClass('nohover');
        //     },
        //     'mouseleave' : function(){
        //         $('.sidebar-tab2').addClass('nohover');
        //     }
        // })
</script>
<script>
    $('.dropdown-menu a.dropdown-toggle').on('click', function (e) {
        if (!$(this).next().hasClass('show')) {
            $(this).parents('.dropdown-menu').first().find('.show').removeClass('show');
        }
        var $subMenu = $(this).next('.dropdown-menu');
        $subMenu.toggleClass('show');


        $(this).parents('li.nav-item.dropdown.show').on('hidden.bs.dropdown', function (e) {
            $('.dropdown-submenu .show').removeClass('show');
        });


        return false;
    });

    $('.help').css('display','none');

            $('.btn-plus').click(function () {
                    
                    var id = $(this).attr('data');
                    @* alert(id); *@
                    clickPlus(id);
                });

                function clickPlus(typeID) {
                
                        $("#help_"+typeID).fadeToggle(200);
                        $("#plus_"+typeID).toggleClass("minus");
                        @* $("#active-help_"+ typeID).toggleClass(); *@
                    }
                 
                
            </script>
</script>

</body>

</html>
