@model MvcMovie.Models.DailyReportGroup
@{

    var DailyReportGroup = (IEnumerable<MvcMovie.Models.DailyReportGroup>)ViewData["DailyReportGroup"];
    var SbitoReportGroup = (IEnumerable<MvcMovie.Models.SbitoReportGroup>)ViewData["SbitoReportGroup"];
    var SbitoTradeGroup = (IEnumerable<MvcMovie.Models.SbitoTradeGroup>)ViewData["SbitoTradeGroup"];
    var MonthlyReportGroup = (IEnumerable<MvcMovie.Models.MonthlyReportGroup>)ViewData["MonthlyReportGroup"];
    var FundamentalReportGroup = (IEnumerable<MvcMovie.Models.FundamentalReportGroup>)ViewData["FundamentalReportGroup"];
    var DailyReportItem = (IEnumerable<MvcMovie.Models.DailyReportItem>)ViewData["DailyReportItem"];
}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Our Service</title>
    <link rel="stylesheet" href="~/css/bootstrap.css">
    <link rel="stylesheet" href="~/css/customs.css">
    <link rel="stylesheet" href="~/css/sidebar.css">
    <link rel="stylesheet" href="~/fonts/stylesheet.css" type="text/css" charset="utf-8" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css" />
    <link rel="stylesheet" href="~/css/splide.min.css">
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css" />
    <script src="https://kit.fontawesome.com/48956afbda.js" crossorigin="anonymous"></script>
</head>

<body>
    <div class="wrapper">
        <div class="jumbotron jumbotron-fluid banner-page " style="">
            <img class="" src="~/images/bg-research.png" alt="">
            <div class="container">
                @if(ViewBag.data == "th"){
                <h1 class="display-4">บทวิเคราะห์</h1>
                <p class="lead pd">Analysis</p>
                }else if(ViewBag.data == "en"){
                      <h1 class="display-4">Research</h1>
               

                }else if(ViewBag.data == "jp"){
   <h1 class="display-4">Research</h1>
               
                }
            </div>
        </div>
        <div class="modal fade" id="modaltool3" tabindex="-1" role="dialog" aria-labelledby="modaltool3Label"
            aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="modaltool3Label">คำนวณค่าคอมมิชชั่น</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div role="form" class="form-container cal_detail mt-3">

                            <p>ซื้อ/ขายหุ้น (บาท)</p>
                            <!--<input id="txtBuy" type="text" onchange="calCommision();" oninput="this.value = this.value.replace(/[^0-9.]/g, ''); this.value = this.value.replace(/(\..*)\./g, '$1');this.onchange();" />-->
                            <input id="txtBuy" type="text" class="number"><br><br>
                            <label style="font-size:94.5%">ค่าคอมมิชชั่น *</label><br>
                            <label><span id="lblCom"></span></label><br>
                            <label style="font-size:94.5%">
                                ค่าธรรมเนียมตลาดฯ และ กำกับดูแล (0.007%)
                            </label><br>
                            <label><span id="lblFee"></span></label><br>

                            <label style="font-size:94.5%">
                                <label style="font-size:94.5%">ภาษีมูลค่าเพิ่ม (7%)</label>

                            </label><br>
                            <label><span id="lblTax"></span></label><br>

                            <label><span id="lblSum"></span></label><br>
                            <label><span style="color:red;font-size:94.5%">*ค่าคอมมิชชั่นที่ใช้คำนวณ
                                    เป็นค่าคอมมิชชั่นของบัญชีประเภท Cash Balance และ Credit Balance</span></label>
                            <div class="btn-footer">
                                <button type="button" class="btn btn-close" data-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="promotion mb-5">
            <div class="container">
                <div class="row">
                    <div class="col-xl-3 col-md-3 col-sm-3">
                        <section>
                            <ul class="sidebar-menu mt-5 mt-sm-0">
                                <li class="active">
                                    <a href="#">
                                        <span>Daily Report</span> <i class="fa  fa-caret-right pull-right"></i>
                                    </a>
                                    <ul class="sidebar-submenu menu-open">
                                        @if(ViewBag.data=="th"){
 @foreach (var item in DailyReportGroup)
                                        {
                                            <li><a asp-action="details" asp-route-id="@item.id">@Html.DisplayFor(modelItem
                                                => item.title_th)</a></li>
                                        }
                                        }else if(ViewBag.data=="en"){
 @foreach (var item in DailyReportGroup)
                                        {
                                            <li><a asp-action="details" asp-route-id="@item.id">@Html.DisplayFor(modelItem
                                                => item.title_en)</a></li>
                                        }
                                        }else if(ViewBag.data=="jp"){
                                             @foreach (var item in DailyReportGroup)
                                        {
                                            <li><a asp-action="details" asp-route-id="@item.id">@Html.DisplayFor(modelItem
                                                => item.title_jp)</a></li>
                                        }
                                        }
                                       
                                    </ul>
                                </li>
                                <li>
                                    <a href="#">
                                        <span>Weekly</span> <i class="fa  fa-caret-right pull-right"></i>
                                    </a>
                                    <ul class="sidebar-submenu">
                                          @if(ViewBag.data=="th"){
                                        @foreach (var item in SbitoReportGroup)
                                        {
                                                <li><a asp-controller="Research" asp-action="weekly" asp-route-id="@item.id">@Html.DisplayFor(modelItem => item.title_th)</a></li>
                                        }
                                        @foreach (var item in SbitoTradeGroup)
                                        {
                                                <li><a asp-controller="Research" asp-action="weekly" asp-route-id="@item.id">@Html.DisplayFor(modelItem => item.title_th)</a></li>
                                        }
                                          }else if(ViewBag.data=="en"){
                                        
                                            @foreach (var item in SbitoReportGroup)
                                                {
                                                <li><a asp-controller="Research" asp-action="weekly" asp-route-id="@item.id">@Html.DisplayFor(modelItem => item.title_en)</a></li>
                                        }
                                        @foreach (var item in SbitoTradeGroup)
                                        {
                                                <li><a asp-controller="Research" asp-action="weekly" asp-route-id="@item.id">@Html.DisplayFor(modelItem => item.title_en)</a></li>
                                        }
                                          }else if(ViewBag.data=="jp"){
                                                
                                                      @foreach (var item in SbitoReportGroup){
                                                <li><a asp-controller="Research" asp-action="weekly" asp-route-id="@item.id">@Html.DisplayFor(modelItem => item.title_jp)</a></li>
                                        }
                                        @foreach (var item in SbitoTradeGroup)
                                        {
                                                <li><a asp-controller="Research" asp-action="weekly" asp-route-id="@item.id">@Html.DisplayFor(modelItem => item.title_jp)</a></li>
                                        }
                                          }

                                    </ul>
                                </li>
                                <li>
                                    <a href="#">
                                        <span>Monthly</span> <i class="fa  fa-caret-right pull-right"></i>
                                    </a>
                                    <ul class="sidebar-submenu">
                                         @if(ViewBag.data=="th"){
                                        @foreach (var item in MonthlyReportGroup)
                                        {
                                                <li><a asp-controller="Research" asp-action="Monthly" asp-route-id="@item.id">@Html.DisplayFor(modelItem => item.title_th)</a></li>
                                        }
                                         }else if(ViewBag.data=="en"){
                                              @foreach (var item in MonthlyReportGroup)
                                        {
                                                <li><a asp-controller="Research" asp-action="Monthly" asp-route-id="@item.id">@Html.DisplayFor(modelItem => item.title_en)</a></li>
                                        }
                                         }else if(ViewBag.data=="jp"){
                                              @foreach (var item in MonthlyReportGroup)
                                        {
                                                <li><a asp-controller="Research" asp-action="Monthly" asp-route-id="@item.id">@Html.DisplayFor(modelItem => item.title_jp)</a></li>
                                        }
                                         }
                                    </ul>
                                </li>
                                <li>
                                    <a href="#">
                                        <span>Quarterly</span> <i class="fa  fa-caret-right pull-right"></i>
                                    </a>
                                    <ul class="sidebar-submenu">
                                            @if(ViewBag.data=="th"){
                                        @foreach (var item in FundamentalReportGroup)
                                        {
                                                    <li><a asp-controller="Research" asp-action="Quarterly" asp-route-id="@item.id">@Html.DisplayFor(modelItem => item.title_th)</a></li>
                                        }
                                            }else if(ViewBag.data=="en"){
 @foreach (var item in FundamentalReportGroup)
                                        {
                                                    <li><a asp-controller="Research" asp-action="Quarterly" asp-route-id="@item.id">@Html.DisplayFor(modelItem => item.title_en)</a></li>
                                        }
                                        }
                                        else if (ViewBag.data == "jp"){
                                                 @foreach (var item in FundamentalReportGroup)
                                        {
                                                    <li><a asp-controller="Research" asp-action="Quarterly" asp-route-id="@item.id">@Html.DisplayFor(modelItem => item.title_jp)</a></li>
                                        }
                                            }
                                    </ul>
                                </li>
                            </ul>
                            <div class="open_sidebar mt-5 d-none d-sm-block">
                                <img src="~/images/open_sidebar.png" alt="">
                            </div>

                        </section>

                    </div>
                    <div class="col-xl-9 col-md-9 col-sm-9">

                        <div class="head_promotion">
@if(ViewBag.data=="th"){
  <h1>@Html.DisplayFor(model => model.title_th)</h1>
}else if(ViewBag.data=="en"){
  <h1>@Html.DisplayFor(model => model.title_en)</h1>
}else if(ViewBag.data=="jp"){
      <h1>@Html.DisplayFor(model => model.title_jp)</h1>
}
                          
                        </div>

                        <div class="row-12">
                            <form action="" class="FormCalend">
                                <input type="text" placeholder="Search">
                                <input type="date" id="startDate" name="startDate">
                                <input type="date" id="endDate" name="endDate">
                                <button type="submit" class="submit-ic"><i class="fa fa-angle-right ic-pd"
                                        aria-hidden="true"></i></button>
                            </form>
                        </div>


@if(ViewBag.data=="th"){
                        @foreach (var item in DailyReportItem)
                        {
                            <div class="row mg-b">
                                <div class="col-md-2 col-sm-2 bd-d">
                                    <div class="date">05</div>
                                    <div class="mnth">มี.ค.</div>
                                    <div class="year">2021</div>
                                </div>
                                <div class="col-md-9 col-sm-9">
                                    <a asp-action="more" asp-route-id="@item.id" class="head-cont">
                                        <div>@Html.DisplayFor(modelItem => item.title_th)</div>
                                    </a>
                                    <p class="cont-v">(views @Html.DisplayFor(modelItem => item.views))</p>
                                    <p class="cont-anl"> @Html.Raw(item.description_th)</p>
                                            <a asp-action="more" asp-route-id="@item.id" class="ans-more">อ่านเพิ่มเติม</a>
                                </div>

                            </div>
                        }
}else if(ViewBag.data=="en"){
  @foreach (var item in DailyReportItem)
                        {
                            <div class="row mg-b">
                                <div class="col-md-2 col-sm-2 bd-d">
                                    <div class="date">05</div>
                                    <div class="mnth">มี.ค.</div>
                                    <div class="year">2021</div>
                                </div>
                                <div class="col-md-9 col-sm-9">
                                    <a href="#" class="head-cont">
                                        <div>@Html.DisplayFor(modelItem => item.title_en)</div>
                                    </a>
                                    <p class="cont-v">(views 176)</p>
                                    <p class="cont-anl"> @Html.Raw(item.description_en)</p>
                                    <a href="#" class="ans-more">อ่านเพิ่มเติม</a>
                                </div>

                            </div>
                        }
}else if(ViewBag.data=="jp"){
      @foreach (var item in DailyReportItem)
                        {
                            <div class="row mg-b">
                                <div class="col-md-2 col-sm-2 bd-d">
                                    <div class="date">05</div>
                                    <div class="mnth">มี.ค.</div>
                                    <div class="year">2021</div>
                                </div>
                                <div class="col-md-9 col-sm-9">
                                    <a href="#" class="head-cont">
                                        <div>@Html.DisplayFor(modelItem => item.title_jp)</div>
                                    </a>
                                    <p class="cont-v">(views 176)</p>
                                    <p class="cont-anl"> @Html.Raw(item.description_jp)</p>
                                    <a href="#" class="ans-more">อ่านเพิ่มเติม</a>
                                </div>

                            </div>
                        }
}
                        <!-- pagena -->
                        <nav aria-label="Page navigation example">
                            <ul class="pagination justify-content-start">
                                <li class="page-item active">
                                    <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Previous</a>
                                </li>
                                <li class="page-item"><a class="page-link" href="#">1</a></li>
                                <li class="page-item"><a class="page-link" href="#">2</a></li>
                                <li class="page-item"><a class="page-link" href="#">3</a></li>
                                <li class="page-item">
                                    <a class="page-link" href="#">Next</a>
                                </li>
                            </ul>
                        </nav>

                    </div>

                </div>
            </div>
        </div>
</body>

